# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/
.venv/

# Model files — KEEP .pkl files in backend/ folder
# Uncomment below if you do NOT want to push models to GitHub
# backend/*.pkl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
